
/* > *:not(.woocommerce) */
.entry-content > *:not(.woocommerce){
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.entry-content > *.alignwide,
.alignwide {
    max-width: 1200px;
}

.entry-content > *.alignfull,
.alignfull {
    max-width: 100%;
}

.entry-content {
    font-family: 'Geneva';
}

.site-branding {
    /* width: 200px;
    height: auto; */
    display: inline-block;
}

.site-header {
    background-color: #222222;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 200;
}

.site-main {
    margin-top: 110px;
}

.main-navigation {
    /*display: inline-block;*/
    float: right;
    padding-right: 50px;
}

.custom-logo {
    width: auto !important;
    height: 100px !important;
    margin-top: 10px;
    margin-left: 80px;
}

#primary-menu a {
    font-size: 22px;
    color: #e8ca93;
    font-family: 'Optima', sans-serif;
    font-weight: 500;
}

#primary-menu a:hover {
    color: #000000;
    background-color: #e8ca93;
    border-radius: 20px;
    transition: background-color 1s linear,
                color 1s linear 0.5s;
                width: 1s ease-out 1s;
    transform: skewX(-20deg);
}

#the-liquor-palace, .has-text-align-center, .has-darkbrown-color {
    font-family: 'Optima', sans-serif;
}









