.entry-content > * {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.alignwide {
    max-width: 1200px;
}

.alignfull {
    max-width: 100%;
}

.site-branding {
    width: 200px;
    height: auto;
}

.custom-logo {
    width: auto;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.has-text-align-center {
    font-family: 'Times New Roman', Times, serif;
}

/* #secondary {
    display: none;
} */

