/* 
*
* Reference for "how to comment code": https://packagecontrol.io/packages/Fancy%20CSS%20Comments
*
*/

/* General stylinf for the entry content that is all the content that occupies scree. */
/* > *:not(.woocommerce) */
.entry-content > *:not(.woocommerce){
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.entry-content > *.alignwide,
.alignwide {
    max-width: 1200px;
}

.entry-content > *.alignfull,
.alignfull {
    max-width: 100%;
}

.entry-content {
    font-family: 'Geneva';
}

/*
*======================================
*            header comment            *
======================================*/

/* General style for header  */
.site-header {
    background-color: #222222;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 200;
}

/* General style for displaying the logo on the screen */
.site-branding {
    display: inline-block;
}

/* Specific style to display logo in the header */
.custom-logo {
    width: auto !important;
    height: 100px !important;
    margin-top: 10px;
    margin-left: 80px;
}

/* Displays navigation menu in the header */
#site-navigation {
    float: right;
    padding-right: 50px;
    margin-top: 10px;
}

/**
*
*  Comments for custom pages using blocks.
*
*/

/* Content area for pages */
.site-main {
    margin-top: 110px;
}

#primary-menu a {
    font-size: 22px;
    color: #e8ca93;
    font-family: 'Optima', sans-serif;
    font-weight: 500;
    position:relative;
}

/* Reference: https://www.30secondsofcode.org/css/s/hover-underline-animation */

#primary-menu a::after {
    content: '';
    position: absolute;
    width: 90%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 5px;
    background-color: #e8ca93;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

#primary-menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#the-liquor-palace, 
.has-text-align-center, 
.has-darkbrown-color {
    font-family: 'Optima', sans-serif;
}

.custom-footer-row {
    display: flex;
    flex-wrap: wrap;
    background-color: #222222;
}

.widget-title {
    color: #e8ca93 !important;
    font-size: 32px;
    font-family: 'Optima', sans-serif !important;
    cursor: pointer;
}

.footer-area-column-1, 
.footer-area-column-2, 
.footer-area-column-3, 
.footer-area-column-4 {
    width: 25%;
    flex-basis: 25%;
    flex-grow: 1;
}

.footer-area-column-4 img {
    margin-top: 20px;
}

.site-info {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #9a8262;
    color: #f0e2a8;
}

#menu-footer-menu, 
#menu-footer-menu a {
    display: block;
    font-size: 22px;
    text-align: center;
    color: #e8ca93 !important;
    font-family: 'Geneva' !important;
}

#menu-footer-menu a:hover {
    color: #f0e2a8 !important;
}

.entry-title a, 
.entry-meta, 
.entry-footer{
    font-family: 'Geneva';
    text-align: center;
    color: #524534;
}

/* 
Resource Link for hover effect: https://www.sliderrevolution.com/resources/css-hover-effects/
 */

.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) a, 
.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) img:hover {
    animation-duration: 0.3s;
    box-shadow: 0 14px 28px #524534, 0 10px 10px #524534;
}


