.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Geneva';
    text-align: center;
    color: #524534;
}

.single-product .woocommerce-product-gallery,
.single-product .entry-summary {
    max-width: 500px;
}

.custom-logo {
    height: 100px;
    width: auto;
}

.woocommerce .products ul, .woocommerce ul.products{
    margin: 100px;
    padding: 0;
}

.woocommerce .woocommerce-result-count {
    margin-left: 100px;
    color: #524534;
    margin-top: 30px;
    font-family: 'Geneva';
    font-size: 18px;
}

.woocommerce .woocommerce-ordering {
    margin-right: 100px;
    margin-top: 15px;
}

.orderby {
    font-family: 'Geneva';
    color: #524534;
    border-radius: 17px;
    background-color: #e8ca93;
}

.woocommerce-loop-product__title {
    color: #524534;
    font-size: 17px;
    font-family: 'Geneva';
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.woocommerce ul.products li.product .price {
    color: #9a8262;
    font-size: 16px;
    text-align: center;
    font-family: 'Geneva';
}

.woocommerce ul.products li.product .button {
    background-color: #9a8262;
    color: #f0e2a8;
    margin-top: 0;
    font-family: 'Geneva';
    width: 100%;
    font-size: 16px;
}

.woocommerce ul.products li.product .button:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce .cart .button:hover, 
.woocommerce .cart input.button:hover,
.woocommerce #payment #place_order:hover, 
.woocommerce-page #payment #place_order:hover, 
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover{
    color: #524534;
    background-color: #e8ca93;
}

.woocommerce span.onsale {
    font-family: 'Geneva';
    background-color: #e8ca93;
    color: #524534;
}

.woocommerce nav.woocommerce-pagination ul {
    font-family: 'Geneva';
    margin: 0px;
    font-size: 16px;
    border: 1px solid #524534;
}

.woocommerce nav.woocommerce-pagination ul li {
    border: 1px solid #524534;
}

.page-numbers,
.woocommerce ul.products li.product a {
    color: #524534;
    font-family: 'Geneva';
}

.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current{
    color: #524534;
    background-color: #e8ca93;
}

.woocommerce .products ul, .woocommerce ul.products {
    margin-bottom: 0px;
}

.woocommerce-cart-form, 
.woocommerce-message, 
.cart_totals,
.woocommerce-checkout-review-order, #order_review_heading, 
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    margin-left: 100px;
    margin-right: 100px;
}

.woocommerce-cart-form, .product-name a, .woocommerce-message, 
.product-name, .product-price, .product-quantity, .product-subtotal,
.woocommerce-checkout-review-order, .woocommerce-billing-fields__field-wrapper label,
.woocommerce-billing-fields h3, .woocommerce-shipping-fields h3, .woocommerce-shipping-fields label,
.woocommerce-additional-fields label, .order_review_heading, #order_review_heading,
.woocommerce form.checkout_coupon, .woocommerce form .form-row label{
    color: #524534;
    font-family: 'Geneva';
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce .cart .button, .woocommerce .cart input.button,
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order, 
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
    background-color: #9a8262;
    color: #f0e2a8;
    font-family: 'Geneva';
}

.woocommerce-billing-fields {
    margin-left: 100px;
}

.woocommerce-shipping-fields, .woocommerce-additional-fields {
    margin-right: 100px;
}





